{% extends 'base.html' %}
{% load static %}

{% block content %} 
  <!-- ADVERTS -->
<div class="row">
  {% for advertisement in object_list %}
    <div class="col-lg-4">
      <a href="{% url 'show_item' advertisement.pk %}" style="text-decoration: none; color:#29335C;">
      <div class="btn btn-outline-warning">
      {% if advertisement.image %}
      <img class="thumbnail" src="{{advertisement.image.url}}" width="250" height="250">
      {% else %}
      <img class="thumbnail" src="{% static 'images/item.png' %}" width="250" height="250">
      {% endif %}
          
          <h6><strong>{{advertisement.title}}</strong></h6>
          <hr>
          <p>{{advertisement.owner.profile.city}}</p>
          <h4 style="padding-top: 5px; padding-bottom: 5px;">{{advertisement.price|floatformat:2}} PLN</h4>
          </a>
          <button class="btn btn-outline-danger">Love</button>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock content %}  