{% extends 'base.html' %}
{% load static %}

{% block content %} 
<!-- ITEM -->
  <div class="card mb-3" style="padding-top: 10px; padding-left: 50px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if advertisement.image %}
          <img src="{{advertisement.image.url}}" class="card-img">
        {% else %}
          <img src="{% static 'images/item.png' %}" class="card-img">
        {% endif %}
      </div>
      <div class="col-md-4" style="color:white; background-color:#ffc107; width: 500px; height: 500px;">
        <div class="card-body">
          <h5 class="card-title">Title: {{advertisement.title}}</h5>
          <hr>Price: <strong>{{advertisement.price|floatformat:2}} PLN</strong><hr>
          <p class="card-text">Description:</br>{{advertisement.body}}</p>
          <hr>
          <p class="card-text">{{advertisement.owner}}, {{advertisement.post_date}}</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        {% if advertisement.owner.profile.profile_picture %}
          <img src="{{advertisement.owner.profile.profile_picture.url}}" class="rounded-circle">
        {% else %}
          <img src="{% static 'images/man.png' %}" class="rounded-circle">
        {% endif %}
        <div class="card-body" style="color:#29335C;">
          <h5 class="card-title">{{advertisement.owner.profile.name}} {{advertisement.owner.profile.surname}}</h5>
          <hr>
          <p class="card-text">{{advertisement.owner.profile.city}}</p>
            
          <!-- love system -->
            <form action="{% url 'love_advert' advertisement.pk %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <!-- show if advert is not from user -->
              {% if user.id != advertisement.owner.profile.id %}
                  {% if love %}
                    <button type="submit", name="advertisement_id", value="{{advertisement.id}}", class="btn btn-outline-danger">Unloved</button>
                  {% else %}
                    <button type="submit", name="advertisement_id", value="{{advertisement.id}}", class="btn btn-outline-danger">Love</button>
                  {% endif %}
              {% endif %}
            {% else %}
              Must be logged to love advert...
            {% endif %}
          </form>

        </div>

        <!-- show after clicking phone and email -->
        <div style="padding-left: 10px;">
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseCall" role="button">
              <span class="material-icons-outlined">call</span>
            </a>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEmail">
              <span class="material-icons-outlined">email</span>
            </button>
          </p>
          <div class="collapse" id="collapseCall">
            <div class="card card-body">
              {{advertisement.owner.profile.phone}}
            </div>
          </div>
          <div class="collapse" id="collapseEmail">
            <div class="card card-body">
              {{advertisement.owner.profile.email}}
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
{% endblock content %}  